---
import Layout from "../layouts/Layout.astro";
import Top from "../components/Top.astro";
import Card from "../components/Card.astro";
---

<Layout title="Our World">
  <main class="">
    <div class="py-4"></div>
    <Top title="Our World" desc="Welcome home :))" count={9} />
    <div class="py-4"></div>
    <Card
      body="Lorem Ipsum Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups."
      time={new Date()}
    />
    <div class="py-4"></div>
    <Card
      body="Lorem Ipsum Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups."
      time={new Date()}
    />
    <div class="py-4"></div>
    <Card
      body="Lorem Ipsum Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups."
      time={new Date()}
    />
  </main>
</Layout>
