---
export interface Props {
  body: string;
  media?: string;
  time: Date;
}

const { body, media, time } = Astro.props;
---

<div class="bg-blog-400 py-4 border-4 border-blog-500 rounded-lg">
  <div class="py-2"></div>
  <div class="test-center bg-slate-400">
    <div class="text-white text-lg font-bold px-8">{body}</div>
  </div>
  <div class="py-2"></div>
  <div class="test-center">
    <div class="text-white text-sm font-bold px-8">
      {time.toLocaleDateString()}
    </div>
    <hr class="border-t-2 border-black mx-4" />
  </div>
</div>
