---
export interface Props {
  title: string;
  desc: string;
  count: number;
}

const { title, desc, count } = Astro.props;
---

<div class="bg-blog-200 py-8 border-4 border-blog-100 rounded-lg">
  <div class="test-center bg-slate-400">
    <div class="text-white text-3xl font-bold pl-8">{title}</div>
  </div>
  <div class="py-2"></div>
  <div class="test-center bg-slate-400">
    <div class="text-white text-md font-bold pl-8">{desc}</div>
  </div>
  <div>{count}</div>
</div>
